Thumbs.db
/.env*
!/.env.example
!/.env.testing.example
/*.sublime*
/.phpintel
/bower_components
/node_modules
/storage
/vendor
/public/js
/public/css
/public/assets
/public/upload
/public/img/fancybox*
/public/fonts/bootstrap
/public/fonts/fontawesome*
/public/home.html
/public/home.html.bkp
/database/GeoLite2-City.mmdb
*.log
.version
/nbproject
.idea
.DS_Store
.vscode
service_account.json

/users/node_modules
